In [1]:
import pandas

In [2]:
actors = pandas.read_csv('static/actors.csv', index_col=None)

In [3]:
actors

      name  birth  alive
0    Terry   1942   True
1  Michael   1943   True
2     Eric   1943   True
3   Graham   1941  False
4    Terry   1940   True
5     John   1939   True

In [4]:
birth_years = actors['birth']

In [5]:
birth_years[birth_years < 1940]

5    1939
Name: birth, dtype: int64

In [6]:
birth_years.median()

1941.5